<div class="top-bar">
    <p class="greeting" *ngIf="user">
        Hello, {{ user.firstName ? user.firstName : user.username }}
    </p>

    <ul class="top-bar-controls">
        <li *ngFor="let element of topNavElements">
            <div *ngIf="element.name === 'login' || element.name === 'register'" (click)="showLoginModal">{{element.name}}</div>
            <div *ngIf="element.name != 'login' && element.name != 'register'" (click)="showRegisterModal">{{element.name}}</div>
        </li>
    </ul>
</div>