<div class="top-bar">
    <p class="greeting" *ngIf="user">
        Hello, {{ user.firstName ? user.firstName : user.username }}
    </p>

    <ul class="top-bar-controls">

        <ng-container *ngTemplateOutlet="user ? loggedInTemplate : loggedOutTemplate"></ng-container>

        <ng-template #loggedInTemplate>
            <li>
                <div>logout</div>
            </li>
        </ng-template>

        <ng-template #loggedOutTemplate>
            <li (click)="showLoginModal()">
                <a routerLink="auth/login">login</a>
            </li>
            <li (click)="showRegisterModal()">
                <a routerLink="auth/register">register</a>
            </li>
        </ng-template>
        
    </ul>
</div>