<div class="top-bar">
    <p class="greeting" *ngIf="user">
        Hello, {{ user.firstName ? user.firstName : user.username }}
    </p>

    <ul class="top-bar-controls">

        <ng-container *ngIf="user">
            <li>
                <div>login</div>
            </li>
            <li>
                <div>register</div>
            </li>
        </ng-container>
        <ng-container *ngIf="!user">
            <li>
                <div>logout</div>
            </li>
        </ng-container>

    </ul>
</div>