.content.about-us {
    padding: 3vw;
    display: flex;
    flex-direction: row;
    gap: 4%;
    flex-wrap: wrap;
}

.content.about-us .main-info,
.content.about-us .location {
    width: 48%;
}

.content.about-us .main-info h1 {
    font-size: 2vw;
    padding-bottom: 1vw;
}

.content.about-us h2 {
    font-size: 1.6vw;
    padding-bottom: 2vw;
}

.content.about-us .main-info p {
    font-size: 1.2vw;
    font-weight: 300;
    text-align: justify;
}

.content.about-us .main-info h3 {
    text-align: left;
}

.location h2 {
    text-align: right;
}

.location app-bing-map {
    width: 25.4vw;
    height: 24.4vw;
}