<div class="sidebar">
    <div class="navigation">
        <a routerLink="/" id="logo"><img src="assets/images/logo_dark.png" alt="DOTODO" /></a>

        <ul class="menu">
            <ng-container *ngFor="let element of sidebarNavElements">
                <li *ngIf="element.name !== 'profile' || loggedUser" [class.active]="selectedPageBg === element.name"
                    [class]="element.name">

                    <a routerLink="{{element.href}}">
                        <i class="{{element.icon}}"></i><br />{{element.name}}
                    </a>

                </li>
            </ng-container>
        </ul>

        <app-connect-nav></app-connect-nav>
    </div>
</div>