.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 6vw;
    height: 100vh;
    min-height: 465px;
    padding: 3vh 0 0;
    background-color: var(--color-menu-pale-silver);
    box-shadow: var(--left-box-shadow);
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#logo {
    display: flex;
    justify-content: center;
}

#logo img {
    width: 4vw;
    height: 4vw;
    margin-bottom: 3vh;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    text-align: center;
}

.menu li {
    display: flex;
    flex-direction: column;
    padding: 1.6vh 0 1.2vh;
    width: 100%;
}

.menu li.active {
    box-shadow: var(--left-box-shadow), var(--bottom-box-shadow);
    z-index: 10;
    width: 110%;
}

.menu li i.active {
    color: white;
}

li.home {
    background-color: var(--color-menu-cool-gray);
}

li.notes {
    background-color: var(--color-menu-soft-sky-blue);
}

li.checklists {
    background-color: var(--color-menu-creamy-peach);
}

li.events {
    background-color: var(--color-menu-green-light);
}

li.profile {
    background-color: var(--color-menu-soft-gray);
}


.menu li.active>a i {
    color: white;
}

.menu li a {
    color: white;
    text-transform: uppercase;
    font-size: 0.9vw;
}

.menu li i {
    font-size: 3vw;
    padding-bottom: 0.4vh;
}

.menu li i.active {
    color: white;
}

.menu .home i {
    color: var(--color-menu-icon-cool-gray);
}

.menu .notes i {
    color: var(--color-menu-icon-soft-sky-blue);
}

.menu .checklists i {
    color: var(--color-menu-icon-creamy-peach);
}

.menu .events i {
    color: var(--color-menu-icon-green-light);
}

.menu .profile i {
    color: var(--color-menu-dark-soft-gray);
}

.menu li:hover {
    cursor: pointer;
}

.menu li:hover>a>i {
    color: white;
}

app-connect-nav {
    position: absolute;
    bottom: 1vh;
    width: 100%;
}