<div class="sidebar">
    <div class="navigation">
        <a href="/" id="logo"><img src="assets/images/logo.png" alt="DOTODO" /></a>

        <ul class="menu">
            <li *ngFor="let element of sidebarNavElements">
                <ng-container *ngIf="element.name !== 'profile' || user">
                    <a [class.active]="selectedPageBg === element.name" [class]="element.name" href="{{element.href}}">
                        <i class="{{element.icon}}"></i><br />{{element.name}}
                    </a>
                </ng-container>
            </li>
        </ul>
        
        <app-connect-nav></app-connect-nav>
    </div>
</div>