.auth-form.login {
    height: 10vw;
    min-height: 120px;
}

.auth-form button.login {
    background-color: white;
    width: 6vw;
    bottom: 0.6vw;
    font-size: 1vw;
    border-radius: 0.1vw;
}

.loading {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 36vw;
    top: 24vh;
    z-index: 50;
    width: 16vw;
    height: 16vw;
}

::ng-deep .loading .lds-default {
    left: 1.4vw;
}

.loading p {
    position: absolute;
    bottom: 0;
    color: var(--color-body-background);
    text-align: center;
    font-size: 2.6vw;
}