<form method="post" class="auth-form BCK_PROP login" action="/login">
    <button class="xmark" (click)="hideAuthModal()"><i class="fa-solid fa-xmark"></i></button>

    <div class="auth-fields">
        <div class="username">
            <label htmlFor="username">Username/Email</label>
            <div class="form-input">
                <i class="fa-solid fa-user"></i>
                <input ref="{usernameInputRef}" id="username" name="username" type="text" value="username"
                    onChange="{changeHandler}" class="validationErrors.username && error-field" />
            </div>
            <!-- {validationErrors.username && <div class={`error auth $username`}>{validationErrors.username}</div>} -->
        </div>

        <div class="password">
            <label htmlFor="password">Password</label>
            <div class="form-input">
                <i class="fa-solid fa-key"></i>
                <input id="password" name="password" type="password" value={formValues.password}
                    onChange={changeHandler} class="validationErrors.password && error-field" />
            </div>
            <!-- {validationErrors.password && <div class={`error auth $"password"`}>{validationErrors.password}</div>} -->
        </div>
    </div>

    <!-- {validationErrors.login && <div class="error auth login">{validationErrors.login}</div>} -->

    <button type="button" class="login">Login</button>
</form>

<div class="loading">
    <app-loading-spinner></app-loading-spinner>
    <p>Logging in...</p>
</div>