<form #registerForm="ngForm" class="auth-form BCK_IMAGE_COLOR register"
    (ngSubmit)="handleRegisterFormSubmit(registerForm)">
    <button class="xmark" (click)="hideModal()"><i class="fa-solid fa-xmark"></i></button>

    <div class="auth-fields">
        <div class="user-container">
            <div class="email">
                <label htmlFor="email">Email</label>
                <div class="form-input">
                    <i class="fa-solid fa-envelope"></i>
                    <input ngModel id="email" name="email" type="text" #emailInput="ngModel" required validateEmail />

                    <!-- more value props: 
                             onChange={changeHandler} 
                        onBlur={()=> focusHandler(FORM_FIELDS.email)}
                    class={validationErrors.email && "error-field"}-->
                </div>

                <ng-container *ngIf="emailInput.touched">
                    <div *ngIf="emailInput.errors?.['required']" class="error auth register">Email is required</div>
                    <div *ngIf="emailInput.errors?.['email']" class="error auth register">Email is invalid</div>
                </ng-container>
            </div>

            <div class="username">
                <label htmlFor="username">Username</label>
                <div class="form-input">
                    <i class="fa-solid fa-user"></i>
                    <input ngModel id="username" name="username" type="text" #usernameInput="ngModel" required
                        [minlength]="5" />
                    <!-- more value props: 
                             onChange={changeHandler} 
                        onBlur={()=> focusHandler(FORM_FIELDS.username)}
                    class={validationErrors.username && "error-field"} /> -->
                </div>

                <ng-container *ngIf="usernameInput.touched">
                    <div *ngIf="usernameInput.errors?.['required']" class="error auth register">Username is required</div>
                    <div *ngIf="usernameInput.errors?.['minlength']" class="error auth register">Username must be at leats 5
                        characters long</div>
                </ng-container>
            </div>
        </div>

        <div class="password-container">
            <div class="password">
                <label htmlFor="password">Password</label>
                <div class="form-input">
                    <i class="fa-solid fa-key"></i>
                    <input id="password" name="password" type="password" #passwordInput="ngModel" ngModel required
                        [minlength]="6" />
                    <!-- more value props: 
                             onChange={changeHandler} 
                        onBlur="focusHandler(FORM_FIELDS.password)
                    class={validationErrors.password && "error-field"} -->
                </div>
                
                <ng-container *ngIf="passwordInput.touched">
                    <div *ngIf="passwordInput.errors?.['required']" class="error auth register">Password is required</div>
                    <div *ngIf="passwordInput.errors?.['minlength']" class="error auth register">Password must be at leats 6
                        characters long</div>
                </ng-container>
            </div>

            <div class="repass">
                <label htmlFor="repass">Repeat password</label>
                <div class="form-input">
                    <i class="fa-solid fa-key"></i>
                    <input id="repass" name="repass" type="password" #repassInput="ngModel" ngModel required />
                    <!-- more value props: 
                             onChange={changeHandler} 
                        onBlur={()=>
                    focusHandler(FORM_FIELDS.repass)}
                    class={validationErrors.repass && "error-field"} /> -->
                </div>

                <ng-container *ngIf="repassInput.touched">
                    <div *ngIf="repassInput.errors?.['required']" class="error auth">Field is required</div>
                    <div *ngIf="!repassInput.errors?.['required'] && repassInput.value.length >= 6 && repassInput.value != passwordInput.value" class="error auth">Passwords must match</div>
                </ng-container>
            </div>
        </div>
    </div>

    <button [disabled]="registerForm.invalid" class="register">Register</button>
</form>