.home,
.about,
.contacts,
.news {
    background-color: var(--color-menu-cool-gray);
}

.notes {
    background-color: var(--color-menu-soft-sky-blue);
}

.checklists {
    background-color: var(--color-menu-creamy-peach);
}

.events {
    background-color: var(--color-menu-green-light);
}

.profile {
    background-color: var(--color-menu-green-dark);
}