@import url("./reset.css");
@import url("./typography.css");

:root {
  --color-gray-light: rgba(250, 250, 250, 0.6);
  --color-sky-blue: #43739a;
  --color-light-green: #8d9a48;
  --color-pastel-peachy: #b78d63;
  --color-body-background: #4a5759;
  --color-menu-pale-silver: #c5c6c7;
  --color-menu-soft-sky-blue: #8295a3;
  --color-menu-icon-soft-sky-blue: #4d5d6a;
  --color-menu-creamy-peach: #c1b09f;
  --color-menu-icon-creamy-peach: #847a70;
  --color-menu-cool-gray: #8a9a9a;
  --color-menu-icon-cool-gray: #4c5b5b;
  --color-menu-green-light: #9fa28f;
  --color-menu-icon-green-light: #676a5a;
  --color-menu-soft-gray: #909090;
  --color-menu-dark-soft-gray: #4c5b5b;
  --color-ivory: #f2f0e6;
  --color-error-red: #5c0707;
  --color-notes-bckgd: #f7e971;
  --color-note-new-bckgd: #fff5a3;
  --color-checklists-bckgd: #c7b97e;
  --color-checklist-new-bckgd: #dfd8a4;
  --color-notes-border: #9d954b;

  --shadow-base: 1px 4px 4px 1px rgba(0, 0, 0, 0.2);
  --left-box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  --bottom-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
  --semi-transparent-filter: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

body {
  margin: 0;
  padding-left: 10vw;
  background-color: var(--color-body-background);
}

app-root {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  height: 100vh;
  min-height: 465px;
  gap: 5vw;
  padding-right: 10vw;
  background-color: var(--color-menu-cool-gray);
}