<div class="content notes">
    <ul *ngIf="notes.length > 0" class="notes-list">
        
        <ng-container *ngFor="let note of notes">
            <app-note-item></app-note-item> <!-- to add note as context -->
        </ng-container>

        <app-empty-note></app-empty-note>
    </ul>

    <div *ngIf="notes.length === 0" class="new-note">

        <app-err204></app-err204>

        <button *ngIf="!makeNew" class="add-note">Add</button>

        <div *ngIf="makeNew" class="new-note">
            <input placeholder="Note title" />
            <button class="add-note">Add</button>
        </div>
    </div>
</div>