.home,
.about,
.contacts,
.news {
    background-color: var(--color-menu-green-olive);
}

.notes {
    background-color: var(--color-menu-tobaco);
}

.checklists {
    background-color: var(--color-menu-beige);
}

.events {
    background-color: var(--color-menu-green-light);
}

.profile {
    background-color: var(--color-menu-green-dark);
}