<form #loginForm="ngForm" class="auth-form BCK_PROP login" (ngSubmit)="handleLoginFormSubmit(loginForm)">
    <button class="xmark" (click)="hideModal()"><i class="fa-solid fa-xmark"></i></button>

    <div class="auth-fields">
        <div class="username">
            <label for="username">Username/Email</label>
            <div class="form-input">
                <i class="fa-solid fa-user"></i>
                <input ngModel id="username" name="username" type="text" autocomplete="off" #usernameInput="ngModel"
                    required />
            </div>

            <ng-container *ngIf="usernameInput.touched">
                <div *ngIf="usernameInput.errors?.['required']" class="error auth username">
                    Username or email is required
                </div>
            </ng-container>
        </div>

        <div class="password">
            <label for="password">Password</label>
            <div class="form-input">
                <i class="fa-solid fa-key"></i>
                <input ngModel id="password" name="password" type="password" autocomplete="off" #passwordInput="ngModel"
                    required />
            </div>

            <ng-container *ngIf="passwordInput.touched">
                <div *ngIf="passwordInput.errors?.['required']" class="error auth password">Password is required</div>
            </ng-container>
        </div>
    </div>

    <!-- {validationErrors.login && <div class="error auth login">{validationErrors.login}</div>} -->

    <button class="login">Login</button>
</form>