<div class="content contact">
    <ng-container *ngIf="!inquirySentOk">
        <h2>Contact Me</h2>
        <p>Please use this form to contact me for any question, request or suggestion you might have.</p>
    </ng-container>

    <div class="submit-ok" *ngIf="inquirySentOk">
        <i class="fa-solid fa-envelope-circle-check"></i>
        <h3>Thank you for your message! <br /> I'll get back to you in due course.</h3>
    </div>

    <form #contactsForm="ngForm" (click)="handleContactFormSubmit(contactsForm)">

        <h4 *ngIf="!inquirySentOk">Send Us A Quick Message</h4>

        <input type="text" name="name" placeholder="Name" />

        <input type="text" name="phone" placeholder="Phone Number" />

        <textarea name="comment" cols="30" rows="10" placeholder="Your Comment"></textarea>

        <input type="submit" class="submit" value="Submit Message" />
    </form>
</div>