<form method="post" class="auth-form BCK_IMAGE_COLOR register" action="/register">
    <button class="xmark" (click)="hideAuthModal()"><i class="fa-solid fa-xmark"></i></button>

    <div class="auth-fields">
        <div class="user-container">
            <div class="email">
                <label htmlFor="email">Email</label>
                <div class="form-input">
                    <i class="fa-solid fa-envelope"></i>
                    <input ref={emailInputRef} id="email" name="email" type="text"
                        value={formValues.email} />

                    <!-- more value props: 
                             onChange={changeHandler} 
                        onBlur={()=> focusHandler(FORM_FIELDS.email)}
                    class={validationErrors.email && "error-field"} /> -->
                </div>

                <!-- <div class={`error auth`}>{validationErrors.email}</div> -->
            </div>

            <div class="username">
                <label htmlFor="username">Username</label>
                <div class="form-input">
                    <i class="fa-solid fa-user"></i>
                    <input id="username" name="username" type="text"
                        value={formValues.username} />
                    <!-- more value props: 
                             onChange={changeHandler} 
                        onBlur={()=> focusHandler(FORM_FIELDS.username)}
                    class={validationErrors.username && "error-field"} /> -->
                </div>

                <!-- <div class={`error auth`}>{validationErrors.username}</div> -->
            </div>
        </div>

        <div class="password-container">
            <div class="password">
                <label htmlFor="password">Password</label>
                <div class="form-input">
                    <i class="fa-solid fa-key"></i>
                    <input id="password" name="password" type="password"
                        value="password" />
                    <!-- more value props: 
                             onChange={changeHandler} 
                        onBlur="focusHandler(FORM_FIELDS.password)
                    class={validationErrors.password && "error-field"} -->
                </div>

                <!-- <div class={`error auth`}>{validationErrors.password}</div> -->
            </div>

            <div class="repass">
                <label htmlFor="repass">Repeat password</label>
                <div class="form-input">
                    <i class="fa-solid fa-key"></i>
                    <input id="repass" name="repass" type="password"
                        value="repass" />
                    <!-- more value props: 
                             onChange={changeHandler} 
                        onBlur={()=>
                    focusHandler(FORM_FIELDS.repass)}
                    class={validationErrors.repass && "error-field"} /> -->
                </div>

                <!-- <div class={`error auth`}>{validationErrors.repass}</div> -->
            </div>
        </div>
    </div>

    <button type="button" class="register" onClick={submitFormHandler}>Register</button>
</form>

<div class="loading">
    <app-loading-spinner></app-loading-spinner>
    <p>Creating account...</p>
</div>